<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>My Courses</title>
		<link 
			rel="stylesheet" 
			th:href="@{/css/style.css}" 
		/>
	</head>
	<body>
		<div class="container">
			<h1>My Courses</h1>
			
			<table>
				<thead>
					<tr>
						<th>Course ID</th>
						<th>Course Name</th>
						<th>Course Price</th>
						<th>Lessons</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="course:${cList}">
						<td th:text="${course.cId}"></td>
						<td th:text="${course.cName}"></td>
						<td th:text="${course.cPrice}"></td>
						<td>
							<span th:each="lesson, lessonStat : ${course.lList}">
								<a th:href="@{/viewLesson(lId=${lesson.lId})}" th:text="${lesson.lName}">
									<span th:if="${!lessonStat.last}">, </span>
								</a>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>	
</html>