<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Purchase Course</title>
		<link 
			rel="stylesheet" 
			th:href="@{/css/style.css}" 
		/>
		<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	</head>
	<body>
		<div class="container">
			<h1>Purchase Course</h1>
			
			<table>
				<thead>
					<tr>
						<th>Course ID</th>
						<th>Course Name</th>
						<th>Course Price</th>
						<th>Get this!</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="course:${cList}">
						<td th:text="${course.cId}"></td>
						<td th:text="${course.cName}"></td>
						<td th:text="${course.cPrice}"></td>
						<td>
							<form id="payment-form">
								<input type="hidden" class="email" th:value="${session.loggedInUser.email}" />
								<input type="hidden" class="cId" th:value="${course.cId}"	/>				
								<button type="submit" id="pay-button" class="btn btn-primary" th:data-amount="${course.cPrice}">BUY</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<script>
		$(document).ready(function() {
		$(".buy-button").click(function(e) {
		        e.preventDefault();
		        var form = $(this).closest('form');
		        var amount = $(this).data("amount");
		        var email = form.find('.email').val();
		        var courseId = form.find('.cId').val();
		        createOrder(amount, email, courseId);
		    });
		});
		
		function createOrder(amount, email, courseId) {
			alert(amount+email+courseId)
		    $.post("/takeOrder", { amount: amount, email: email, courseId: courseId })
		        .done(function(order) {
		            order = JSON.parse(order);
		            var options = {
		                "key": "rzp_test_bC1XrLzr1W5HBP",
		                "amount": order.amount_due.toString(),
		                "currency": "INR",
		                "name": "Skills Craft",
		                "description": "Payment for Course!",
		                "order_id": order.id,
		                "handler": function (response) {
		                    verifyPayment(response.razorpay_order_id, response.razorpay_payment_id, response.razorpay_signature);
		                },
		                "prefill": {
		                    "name": "Your Name",
		                    "email": "Your Email (abc@xyz.com)",
		                    "contact": "Your Phone Number"
		                },
		                "notes": {
		                    "address": "Your Address"
		                },
		                "theme": {
		                    "color": "#F37254"
		                }
		            };
		            var rzp1 = new Razorpay(options);
		            rzp1.open();
		        })
		        .fail(function(error) {
		            console.error("Error:", error);
		        });
		}
		
		function verifyPayment(orderId, paymentId, signature) {
		     $.post("/verify", { orderId: orderId, paymentId: paymentId, signature: signature })
		         .done(function(isValid) {
		             if (isValid) {
		                 console.log("Payment successful");
		             } else {
		                 console.log("Payment failed");
		             }
		         })
		         .fail(function(error) {
		             console.error("Error:", error);
		         });
		}
		</script>
	</body>
</html>