@charset "ISO-8859-1";

body {
	background-image: url("https://wallpapers.com/images/high/education-background-y9sn8utgfv4vlh9p.webp");
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	color: black;
}


