@charset "ISO-8859-1";

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@400;500;600;700;800;900&family=REM:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  background-color: #292524;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  width: 600px;
  max-width: 700px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

input {
  width: 400px;
  padding: 8px;
  margin: 7px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 18px;
}

.btn {
  padding: 10px 30px;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 20px;
  outline: none;
  border: none;
}
